# Human Activity Recognition from Wearable Inertial Sensor Networks Part 2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Table of Contents
 
- [Import library and define visualization parameters](#Import-library-and-define-visualization-parameters)
- [Declaration of functions used](#Declaration-of-functions-used)
- [Import data](#Import-data)
- [Feature engineering](#Feature-engineering)
- [Save data in pickle format in google drive](#Save-data-in-pickle-format-in-google-drive)

# Import library and define visualization parameters

In [ ]:
from __future__ import print_function
from matplotlib import pyplot as plt
from matplotlib.ticker import FuncFormatter
from matplotlib import cm
%matplotlib inline
from math import pi
import numpy as np
import pandas as pd
from pandas import DataFrame
from typing import List
import seaborn as sns
from scipy import stats

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

import warnings 
warnings.filterwarnings('ignore')

# Display several outputs on a notebook output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# Define certain standard parameters at the outset
pd.options.display.float_format = '{: .4f}'. format
np.set_printoptions(precision=4)
plt.style.use ('ggplot')
# Files
path_to_file = '/content/drive/MyDrive/myproject/outputdata'

# Declaration of functions used

In [ ]:
def mad(x):
  mad = x.mad()
  return mad

In [ ]:
def ran(x):
  range = x.max() - x.min()
  return range

In [ ]:
# Define a function to compute acceleration spherical coordinates
def add_accelero_spherical_coordinates(df:DataFrame) -> DataFrame:
  """Generate normal acceleration, colalitude and longitude from imu data.

  Args:
    df (DataFrame): IMU data required!

  Returns:
    DataFrame: The IMU DataFrame with normal acceleration, colalitude and longitude.
  """

  df['acc_norm'] = np.sqrt((df.acc_rf_x)**2 + (df.acc_rf_y)**2 + (df.acc_rf_z)**2)
  df["colat_acc"] = np.arccos(df["acc_rf_z"]/df["acc_norm"])
  df["long_acc"] = np.arctan2(df["acc_rf_y"],df["acc_rf_x"])

  return df

In [ ]:
# Define a function to compute gyrometer spherical coordinates
def add_gyro_spherical_coordinates(df:DataFrame) -> DataFrame:
  """Generate normal gyrometer, colalitude and longitude from imu data.

  Args:
    df (DataFrame): IMU data required!

  Returns:
    DataFrame: The IMU DataFrame with normal gyrometer, colalitude and longitude.
  """
  
  df['gyro_norm'] = np.sqrt((df.gyro_rf_x)**2 + (df.gyro_rf_y)**2 + (df.gyro_rf_z)**2)
  df["colat_gyro"] = np.arccos(df["gyro_rf_z"]/df["gyro_norm"])
  df["long_gyro"] = np.arctan2(df["gyro_rf_y"],df["gyro_rf_x"])

  return df

In [ ]:
def add_group_index(df:DataFrame, windows:int=3) -> DataFrame:
  """Generate group index with specific windows for data aggregation.

  Args:
    df (DataFrame): raw data required!
    windows (int, default value is 5 s): The aggregation window.

  Returns:
    DataFrame: The raw DataFrame containing group index for aggregration.
  """

  sample_size = int((679073/11544)*windows)
  index = df.index.tolist()
  group_index = np.cumsum([(id % sample_size) == 0 for id in index]).tolist()
  df['group_index'] = group_index

  return df

In [ ]:
def compute_features_stats(df:DataFrame, features_to_stats:List[str] = None) -> DataFrame:
  """Generates the aggregated dataframe with the different statistics on the given variables.

  Args:
    df (DataFrame): The raw DataFrame containing group index for aggregration.
    features_to_stats (List): List of variables whose statistics you want to display after aggregation.

  Returns:
    DataFrame: The aggregated dataframe with the different statistics on the input variables.
  """

  stats_agg = [np.min, np.max, np.mean, np.median, np.std, stats.skew, stats.kurtosis, stats.iqr, stats.median_absolute_deviation, mad, ran]
  dict_agg = {var:stats_agg for var in features_to_stats}
  df_agg = df.groupby(['act','group_index', 'filename']).agg(dict_agg)
  df_agg.columns = ["_".join(x) for x in df_agg.columns.ravel()]
  df_agg = df_agg.reset_index(['act', 'group_index', 'filename'])
  df_agg = df_agg.drop('group_index', axis=1)
  df_agg = df_agg.sort_values("filename")
  df_agg = df_agg.interpolate(method='linear', axis=0).ffill().bfill()

  return df_agg

# Import data

In [ ]:
!cp /content/drive/MyDrive/myproject/outputdata/df_1.pkl /tmp/df_1.pkl

In [ ]:
df = pd.read_pickle('/tmp/df_1.pkl')
df

          acc_rf_x   acc_rf_y  ...   activity  person
0       -8232.0000  -376.0000  ...  Bicycling      01
1       -8244.0000  -236.0000  ...  Bicycling      01
2       -8208.0000   -88.0000  ...  Bicycling      01
3       -8144.0000    24.0000  ...  Bicycling      01
4       -8204.0000    28.0000  ...  Bicycling      01
...            ...        ...  ...        ...     ...
2111397 -9140.0000 -3028.0000  ...    Sitting      13
2111398 -9112.0000 -2996.0000  ...    Sitting      13
2111399 -9124.0000 -3036.0000  ...    Sitting      13
2111400 -9124.0000 -2984.0000  ...    Sitting      13
2111401 -9076.0000 -2980.0000  ...    Sitting      13

[2110120 rows x 10 columns]

# Feature Engineering

## Acceleros and Gyros Features Engineering

In [ ]:
df = add_accelero_spherical_coordinates(df)
df = add_gyro_spherical_coordinates(df)
df

          acc_rf_x   acc_rf_y    acc_rf_z  ...  gyro_norm  colat_gyro  long_gyro
0       -8232.0000  -376.0000  13232.0000  ...   247.9738      2.3097     1.7297
1       -8244.0000  -236.0000  13252.0000  ...   215.7336      1.4593     2.3199
2       -8208.0000   -88.0000  13188.0000  ...   238.6085      1.4320     2.6382
3       -8144.0000    24.0000  13204.0000  ...   260.8045      1.6591     2.4434
4       -8204.0000    28.0000  13220.0000  ...   345.2376      1.9382     2.4993
...            ...        ...         ...  ...        ...         ...        ...
2111397 -9140.0000 -3028.0000  13632.0000  ...   196.9035      2.4770    -0.5263
2111398 -9112.0000 -2996.0000  13644.0000  ...   166.4392      2.5483     0.0322
2111399 -9124.0000 -3036.0000  13664.0000  ...   223.6672      2.4005    -0.0066
2111400 -9124.0000 -2984.0000  13616.0000  ...   241.0083      2.3421    -0.5752
2111401 -9076.0000 -2980.0000  13692.0000  ...   168.3182      2.2444    -0.8069

[2110120 rows x 16 columns]

## Aggregate Data by time windows

In [ ]:
df = add_group_index(df)
df

          acc_rf_x   acc_rf_y    acc_rf_z  ...  colat_gyro  long_gyro  group_index
0       -8232.0000  -376.0000  13232.0000  ...      2.3097     1.7297            1
1       -8244.0000  -236.0000  13252.0000  ...      1.4593     2.3199            1
2       -8208.0000   -88.0000  13188.0000  ...      1.4320     2.6382            1
3       -8144.0000    24.0000  13204.0000  ...      1.6591     2.4434            1
4       -8204.0000    28.0000  13220.0000  ...      1.9382     2.4993            1
...            ...        ...         ...  ...         ...        ...          ...
2111397 -9140.0000 -3028.0000  13632.0000  ...      2.4770    -0.5263        11990
2111398 -9112.0000 -2996.0000  13644.0000  ...      2.5483     0.0322        11990
2111399 -9124.0000 -3036.0000  13664.0000  ...      2.4005    -0.0066        11990
2111400 -9124.0000 -2984.0000  13616.0000  ...      2.3421    -0.5752        11990
2111401 -9076.0000 -2980.0000  13692.0000  ...      2.2444    -0.8069        11990

[2110120 rows x 17 columns]

In [ ]:
df = df.astype({"act": np.int64})
df_columns = df.columns.to_list()
features_to_stats = [columns for columns in df_columns if columns not in ('filename','activity','person','group_index','act')]
features_to_stats

['acc_rf_x',
 'acc_rf_y',
 'acc_rf_z',
 'gyro_rf_x',
 'gyro_rf_y',
 'gyro_rf_z',
 'acc_norm',
 'colat_acc',
 'long_acc',
 'gyro_norm',
 'colat_gyro',
 'long_gyro']

In [ ]:
df.dtypes

acc_rf_x        float64
acc_rf_y        float64
acc_rf_z        float64
gyro_rf_x       float64
gyro_rf_y       float64
gyro_rf_z       float64
act               int64
filename         object
activity       category
person           object
acc_norm        float64
colat_acc       float64
long_acc        float64
gyro_norm       float64
colat_gyro      float64
long_gyro       float64
group_index       int64
dtype: object

In [ ]:
df_agg = compute_features_stats(df, features_to_stats)
df_agg

       act  ... long_gyro_ran
13180    9  ...        5.8162
13173    9  ...        5.2889
13174    9  ...        5.6877
13175    9  ...        6.0395
13176    9  ...        5.6631
...    ...  ...           ...
2071     1  ...        6.1792
2070     1  ...        6.0190
2069     1  ...        6.2469
2087     1  ...        5.9328
2082     1  ...        6.2301

[16004 rows x 134 columns]

# Save data in pickle format in google drive

In [ ]:
df_agg.to_pickle("/tmp/df_2.pkl")

In [ ]:
!cp /tmp/df_2.pkl /content/drive/MyDrive/myproject/outputdata